nav{
    display:flex;
    flex-direction: row;
    position:fixed;
    transform: translateY(-90%);
    background-color: rgba(128, 128, 128, 0.182);
    padding-right:2em;
    margin-bottom:0;
    
}

#logo{
    max-height:60px;
    margin-left:2em;
    margin-top:0.5em;
    margin-bottom:3em;
}

#logo-secondary{
    margin-top:1em;
    max-height:60px;
    margin-left:12em;
}

#logo-tertiary{
    margin-top:1em;
    max-height:60px;
    margin-left:.3em;
}

ul{
    max-width: 94%;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:0.5em;
    margin-left:1.2em;
    margin-right:1.2em;
}

h2{
    margin-top:2.5em;
}


li{
    display:grid;
    box-shadow: black 0 0 0 1px;
    grid-template-rows: 8em 3em;
    grid-template-columns: 1px 99% 1px;
    p{
        grid-column-start:2;
        grid-row-start: 3;
        margin-top:.6em;
        align-self: center;
        margin-left:10%;
        margin-right:10%;
        font-weight:600;
        margin-bottom:20%;
    }
    .grid-image{
        grid-row-start:2;
    }
}


li img{
    max-width: 95%;
    max-height:60%;
}

#grid-save{
    max-width: 40px;
    max-height: 40px;
}

.grid-save{
    
    /* grid-column-start:2; */
    transform: translateX(30vw);
    margin-top:.5em;
    justify-self: end;
    width:40px;
    max-height: 40px;
    border-radius: 55%;
    visibility: hidden;
}

#grid-save{
    height:50px;
    width:50px;
    visibility: visible;
}

.search-bar{
    display:flex;
    flex-direction: row;
    position:fixed;
    align-items: center;
    left: 50%;
    bottom: 1em;
    transform: translateX(-50%);
}

.loading{
    animation:loading 1.4s infinite ease-in-out;
    display: inline-block;
}

.succes{
    transform:rotate(360deg);
    transition-duration: 0.8s;
}

@keyframes loading{
    0%{
        transform:scale(1.0);
    }
    50%{
        transform:scale(0.9);
    }
    100%{
        transform:scale(1.0);
    }
}